<p>task-form works!</p>
<form nz-form [nzLayout]="'inline'" [formGroup]="validateTask" (ngSubmit)="submitForm()">
   <nz-form-item>
      <nz-form-control nzErrorTip="Eror">
         <nz-input-group nzPrefixIcon="form">
            <input formControlName="task" nz-input placeholder="New Dodo" />
         </nz-input-group>
      </nz-form-control>
   </nz-form-item>
   <nz-form-item>
         <nz-form-control nzErrorTip="Error 2">
               <nz-date-picker formControlName="date"></nz-date-picker>
         </nz-form-control>
      </nz-form-item>
      <!--
         <nz-form-item>
            <nz-form-control nzErrorTip="Error 2">
               <nz-input-group>
                  <textarea nz-input placeholder="Description" formControlName="description" nzAutosize></textarea>
               </nz-input-group>
            </nz-form-control>
         </nz-form-item>
      -->
      <nz-form-item nz-row class="register-area">
         <nz-form-control [nzSpan]="14" [nzOffset]="6">
           <button nz-button nzType="primary">Add Dodo</button>
         </nz-form-control>
       </nz-form-item>      
</form>                             
<nz-select [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
   <nz-option nzValue="jack" nzLabel="Default"></nz-option>
   <nz-option nzValue="lucy" nzLabel="Daily"></nz-option>
   <nz-option nzValue="disabled" nzLabel="Work" nzDisabled></nz-option>
 </nz-select>
