<div class="tasks">

  <div class="task">
    <div class="task__icon-check">
      <fa-icon [icon]="faCheck" class="completed"></fa-icon>
      <fa-icon [icon]="faCircle" class="uncompleted"></fa-icon>
    </div>
    <div class="task__name">
      <span>okie</span>
    </div>
    <div class="task__action-icons">
      <fa-icon class="item-edit" [icon]="faPen"></fa-icon>
      <fa-icon class="item-delete" [icon]="faTimesCircle"></fa-icon>
    </div>
  </div>

  <div class="task">
    <div class="task__icon-check">
      <fa-icon [icon]="faCheck" class="completed"></fa-icon>
      <fa-icon [icon]="faCircle" class="uncompleted"></fa-icon>
    </div>
    <div class="task__name">
      <span>okie</span>
    </div>
    <div class="task__action-icons">
      <fa-icon class="item-edit" [icon]="faPen"></fa-icon>
      <fa-icon class="item-delete" [icon]="faTimesCircle"></fa-icon>
    </div>
  </div>

  <div class="task completed">
    <div class="task__icon-check">
      <fa-icon [icon]="faCheck" class="completed"></fa-icon>
      <fa-icon [icon]="faCircle" class="uncompleted"></fa-icon>
    </div>
    <div class="task__name">
      <span>okie</span>
    </div>
    <div class="task__action-icons">
      <fa-icon class="item-edit" [icon]="faPen"></fa-icon>
      <fa-icon class="item-delete" [icon]="faTimesCircle"></fa-icon>
    </div>
  </div>

</div>
